---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">
	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Oscar Amaro</h1>
			<p class="hero__text">
				En este espacio hablaré de mí, de mis proyectos y de mis experiencias.
			</p>

			<!-- 🔗 Botón que redirige al bloque “Sobre mí” -->
			<Boton href="#intro" texto="Quiero saber más" />
		</div>

		<img
			class="hero__img"
			src="/images/patick.jpg"
			width="384"
			height="384"
		/>
	</div>
</section>
