---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Oscar Amaro</h1>
			<p class="hero__text">
				En esta espacio hablaré de mi, de mis proyectos y de mis
				experiencias 
			</p>
			<Boton href="#" texto="Quiero saber más jejereje - checar esta parte popr que el id no re dirije "/>
		</div>
    <img
		class="hero__img"
		src="/imgages/patick.jpg"
		alt="Oscar Amaro"
		width="384"
    	height="384"
	/>
	</div>
</section>
