/* Contenedor general del texto */
.skills__container {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 rem;
	text-align: justify;
	display: flex;
	flex-direction: column;
	gap: 1 rem;
}

/* Subtítulos tipo "Data Analyst", "Ciencia de Datos", etc. */
.subtitle {
	font-size: 1.8rem;
	font-weight: 600;
	margin-top: 1.5rem;
}

/* Comportamiento en pantallas pequeñas */
@media screen and (max-width: 768px) {
	#skills {
		flex-direction: column-reverse;
	}

	.skills__container {
		max-width: 100%;
		padding: 0 1rem;
	}
}
