---
import './skills.css';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
---

<section id="skills">
	<div class="skills__container">
		<SkillsOnTerminal />

		<div class="text-content">
			<h3 class="subtitle color__gradiente">Habilidades</h3>
			<p>
				Cuento con experiencia en análisis de datos, ingeniería de datos y ciencia de datos. 
				A lo largo de mi carrera, he trabajado con diversas herramientas y tecnologías que me han permitido extraer, transformar, analizar y visualizar información de manera eficiente.
			</p>

			<h3 class="subtitle color__gradiente">Data Analyst</h3>
			<p>
				Manejo Python con librerías como pandas, numpy y seaborn para el análisis de datos. 
				También utilizo SQL y BigQuery para la manipulación de bases de datos, 
				así como herramientas de visualización como Power BI y Looker.
			</p>

			<h3 class="subtitle color__gradiente">Data Engineer</h3>
			<p>
				Experiencia en orquestación de datos con Airflow, almacenamiento en la nube con BigQuery y Buckets de Google Cloud. 
				Además, desarrollo y optimizo pipelines ETL/ELT y despliego modelos en Vertex AI.
			</p>

			<h3 class="subtitle color__gradiente">Ciencia de Datos</h3>
			<p>
				Implemento modelos de Machine Learning con scikit-learn, TensorFlow y XGBoost, enfocados en modelado predictivo, 
				optimización de hiperparámetros y evaluación de modelos.
			</p>
		</div>
	</div>
</section>
