#skills {
	display: flex;
	flex-direction: column;
	max-width: calc(var(--max-width) + 2.2rem);
	padding: 1.1rem;
	gap: 2.2rem;
	margin: 4rem auto;
}

.subtitle {
	font-size: 1.8rem; /* o 1.1rem si lo quieres un poquito más grande */
	font-weight: 600;
	margin-top: 1.5rem;
}

@media screen and (max-width: 768px) {
	#skills {
		flex-direction: column-reverse;
	}
	#skills .text-content {
		max-width: 100%;
	}
}
