---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="https://www.bpocenter.com.bo/wp-content/uploads/2017/11/10.jpg"
			alt="Foto de perfil de Oscar Amaro"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre m칤" />
			<p class="about__text">
				춰Hola! Soy Oscar Amaro

				Soy apasinado por los datos y estadistica con experiencia en ingenier칤a de datos, an치lisis de datos y ciencia de datos
				
				Me apasiona transformar datos en informaci칩n 칰til para la toma de decisiones y construir modelos que aporten valor en diversos sectores

				Trabajo con herramientas como Python, SQL, Power BI y tengo experiencia en Google Cloud Platform (GCP), utilizando servicios como BigQuery, Cloud Storage (Buckets) y Vertex AI para proyectos de machine learning

				En mi tiempo libre, me gusta aprender sobre nuevas tecnolog칤as, explorar el mundo del machine learning y la nube, desarrollar proyectos que combinen estad칤sticas y programaci칩n con data real

				Eleg칤 esta profesi칩n porque siempre me motiva resolver problemas complejos. Adem치s, tengo formaci칩n en Actuar칤a, lo que me ha permitido desarrollar un pensamiento anal칤tico s칩lido y aplicarlo en distintos 치mbitos, desde el sector financiero hasta el retail como ecommerce

				Estoy en constante aprendizaje y actualmente construyo mi portafolio para compartir mis proyectos y conocimientos con data real (INEGI / FINANZAS / ECOMMERCE / CLOUD) 

				춰Bienvenido a mi espacio! 游
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
