---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css";
---

<section id="about" class="about">
	<div class="about__container">

		<!-- 游뒆 Imagen + breve presentaci칩n horizontal -->
		<div class="about__row">
			<img class="about__img" src="/img/patick.jpg" />

			<div class="about__intro">
				<Title margin="1rem" contenido="Sobre m칤" />
				<p class="about__text">
					춰Hola! Soy Oscar Amaro por mientras el pat, en proceso ... 游녦<br/>
					Apasionado por los datos y la estad칤stica. Me gusta transformar informaci칩n en decisiones con impacto.
				</p>
			</div>
		</div>

		<!-- 游늯 Texto largo abajo -->
		<div class="about__details">
			<p class="about__text">
				Trabajo con herramientas como Python, SQL y Power BI, adem치s de tener experiencia en Google Cloud Platform (GCP), 
				utilizando servicios como BigQuery, Cloud Storage (Buckets) y Vertex AI para desarrollar soluciones de machine learning.
			</p>
			<p class="about__text">
				En mi tiempo libre, disfruto aprender sobre nuevas tecnolog칤as, explorar el mundo del machine learning y la nube, 
				y desarrollar proyectos donde combino estad칤stica y programaci칩n con datos reales.
			</p>
			<p class="about__text">
				Eleg칤 esta profesi칩n porque siempre me ha motivado resolver problemas complejos. 
				Mi formaci칩n en Actuar칤a me ha permitido desarrollar un pensamiento anal칤tico s칩lido, 
				aplic치ndolo en distintos 치mbitos como el financiero y el retail (e-commerce).
			</p>
			<p class="about__text">
				Actualmente, estoy en constante aprendizaje y construyo mi portafolio para compartir mis proyectos y conocimientos, 
				utilizando datos reales de fuentes como INEGI, Finanzas y E-commerce.
			</p>
			<p class="about__text">춰Bienvenido a mi espacio! 游</p>

			<SocialIcons width="25" height="25" />
		</div>

	</div>
</section>
