---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			<img class="about__img" src="/img/Foto_jair_prueba.JPG" alt="Foto de perfil de Oscar Amaro" />


			alt="Foto de perfil de Oscar Amaro"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre m칤" />
			
			<p class="about__text">춰Hola! Soy Oscar Amaro 游녦</p>
			
			<p class="about__text">
				Soy un apasionado por los datos y la estad칤stica, con experiencia en ingenier칤a de datos, an치lisis de datos y ciencia de datos. 
				Me motiva transformar datos en informaci칩n valiosa para la toma de decisiones y construir modelos que generen impacto en distintos sectores.
			</p>

			<p class="about__text">
				Trabajo con herramientas como Python, SQL y Power BI, adem치s de tener experiencia en Google Cloud Platform (GCP), 
				utilizando servicios como BigQuery, Cloud Storage (Buckets) y Vertex AI para desarrollar soluciones de machine learning.
			</p>

			<p class="about__text">
				En mi tiempo libre, disfruto aprender sobre nuevas tecnolog칤as, explorar el mundo del machine learning y la nube, 
				y desarrollar proyectos donde combino estad칤stica y programaci칩n con datos reales.
			</p>

			<p class="about__text">
				Eleg칤 esta profesi칩n porque siempre me ha motivado resolver problemas complejos. 
				Mi formaci칩n en Actuar칤a me ha permitido desarrollar un pensamiento anal칤tico s칩lido, 
				aplic치ndolo en distintos 치mbitos como el financiero y el retail (e-commerce).
			</p>

			<p class="about__text">
				Actualmente, estoy en constante aprendizaje y construyo mi portafolio para compartir mis proyectos y conocimientos, 
				utilizando datos reales de fuentes como INEGI, Finanzas y E-commerce.
			</p>

			<p class="about__text">춰Bienvenido a mi espacio! 游</p>

			<SocialIcons width="25" height="25"/>
		</div>
	</div>
</section>