---
import Boton from "../components/atoms/Boton.astro";
import Layout from "../layouts/Layout.astro";
import { mainMenu } from "../components/data/menuData.js";
---

<Layout title="Página no encontrada" mainMenu={mainMenu}>
  <h1 class="text-xl">Página no encontrada</h1>
  <Boton texto="Regresar" href="/" />
</Layout>
