---
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="Oscar_Amaro" hasSoftwares={true} hasFrameworks={true} hasClouds={true}>
  <!-- SLOT: CLOUDS -->
  <div slot="clouds" class="terminal__skills__container">
  <img
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/googlecloud/googlecloud-original-wordmark.svg"
    alt="Google Cloud"
    width="80"
    height="80"
  />
</div>


  <!-- SLOT: SOFTWARES -->
  <div slot="softwares" class="terminal__skills__container">
    <!-- -->
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg"
      alt="Python"
      width="50"
      height="50"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/jupyter/jupyter-original-wordmark.svg"
      alt="Jupyter"
      width="50"
      height="50"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/azuresqldatabase/azuresqldatabase-original.svg"
      alt="SQL"
      width="50"
      height="50"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original-wordmark.svg"
      alt="Docker"
      width="50"
      height="50"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/rancher/rancher-plain-wordmark.svg"
      alt="Rancher"
      width="50"
      height="50"
    />
    <img
      src="https://raw.githubusercontent.com/microsoft/PowerBI-Icons/main/PNG/Power-BI.png"
      alt="Power BI"
      width="20"
      height="20"
    />
    <img
      src="https://raw.githubusercontent.com/microsoft/PowerBI-Icons/main/PNG/Power-Automate-Colored.png"
      alt="Power Automate"
      width="30"
      height="30"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original-wordmark.svg"
      alt="Git"
      width="50"
      height="50"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original-wordmark.svg"
      alt="GitHub"
      width="50"
      height="50"
    />
    <img
      src="https://raw.githubusercontent.com/ComposioHQ/open-logos/master/googl-bigquery.svg"
      alt="BigQuery"
      width="60"
      height="60"
    />

  <!-- -->
  </div>

  <!-- SLOT: FRAMEWORKS -->
  <div slot="frameworks" class="terminal__skills__container">
    <!-- -->
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/pandas/pandas-original-wordmark.svg"
      alt="Pandas"
      width="50"
      height="50"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/scikitlearn/scikitlearn-original.svg"
      alt="Scikit Learn"
      width="50"
      height="50"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/numpy/numpy-original.svg"
      alt="Numpy"
      width="50"
      height="50"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/matplotlib/matplotlib-original-wordmark.svg"
      alt="Matplotlib"
      width="80"
      height="80"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/apacheairflow/apacheairflow-original-wordmark.svg"
      alt="Airflow"
      width="80"
      height="80"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/fastapi/fastapi-original-wordmark.svg"
      alt="Fastapi"
      width="80"
      height="80"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tensorflow/tensorflow-original-wordmark.svg"
      alt="Tensorflow"
      width="80"
      height="80"
    />
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/selenium/selenium-original.svg"
      alt="Selenium"
      width="40"
      height="40"
    />
    <img
    src="https://raw.githubusercontent.com/mwaskom/seaborn/master/doc/_static/logo-wide-lightbg.svg"
    alt="Seaborn"
    width="70"
    height="70"
    />
    <!-- Apache Spark -->
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/apachespark/apachespark-original-wordmark.svg"
      alt="Apache Spark"
      width="70"
      height="70"
    />

    <!-- XGBoost -->
    <img
      src="https://xgboost.ai/images/logo/xgboost-logo-trimmed.png"
      alt="XGBoost"
      width="70"
      height="70"
    />

    <!-- CatBoost -->
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/c/cc/CatBoostLogo.png"
      alt="CatBoost"
      width="40"
      height="40"
    />
  <!-- -->
  </div>
</Terminal>
