---
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="Oscar_Amaro">
  <div class="terminal__skills">

    <div class="terminal__skills__container">
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg"
        alt="Python"
        width="60"
        height="60"
      />
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/jupyter/jupyter-original-wordmark.svg"
        alt="Jupyter"
        width="60"
        height="60"
      />
       <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/azuresqldatabase/azuresqldatabase-original.svg"
        alt="SQL"
        width="60"
        height="60"
      />
      
    </div>
  </div>
</Terminal>
