---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="Oscar_Amaro">
	<div class="terminal__skills">
		<h2>Mis habilidades</h2>
		<div class="terminal__skills__container">
			<TerminalIcon src="/assets/Python.png" name="Python" textColor="white" />
			<TerminalIcon src="/assets/vscode.svg" name="VSC" textColor="white" />
			<TerminalIcon src="/assets/git.svg" name="Git" textColor="white" />
			<TerminalIcon src="/assets/jupyter.svg" name="Jupyter" textColor="white" />
			<TerminalIcon src="/assets/googlecloud.svg" name="Google Cloud" textColor="white" />
			<TerminalIcon src="/assets/apacheairflow.svg" name="Airflow" textColor="white" />
			<TerminalIcon src="/assets/apachespark.svg" name="Spark" textColor="white" />
			<TerminalIcon src="/assets/tensorflow.svg" name="Tensorflow" textColor="white" />
			<TerminalIcon src="/assets/numpy.svg" name="Numpy" textColor="white" />
			<TerminalIcon src="/assets/pandas.svg" name="Pandas" textColor="white" />
			<TerminalIcon src="/assets/scikitlearn.svg" name="Scikitlearn" textColor="white" />
		</div>
	</div>
</Terminal>


