---
const orbits = [
  [
    { src: "/assets/apachespark.svg", alt: "SPARK" },
    { src: "/assets/Python.png", alt: "Python" },
  ],
  [
    { src: "/assets/jupyter.svg", alt: "Jupyter" },
    { src: "/assets/git.svg", alt: "Git" },
  ],
];
---

<style>
.container {
  position: relative;
  width: 400px;
  height: 400px;
  margin: auto;
}

.center-photo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border: 3px solid white;
}

.orbit-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  pointer-events: none;
}

.orbit-path {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px dashed rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.orbit-1 {
  width: 250px;
  height: 180px;
  animation: rotate1 18s linear infinite;
}

.orbit-1-path {
  width: 250px;
  height: 180px;
}

.orbit-2 {
  width: 200px;
  height: 130px;
  animation: rotate2 25s linear infinite reverse;
}

.orbit-2-path {
  width: 200px;
  height: 130px;
}

.skill {
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 2;
}

.skill img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

/* Posiciones dentro de cada órbita */
.orbit-1 .skill:nth-child(1) { top: 0%; left: 50%; transform: translate(-50%, -50%); }
.orbit-1 .skill:nth-child(2) { bottom: 0%; left: 50%; transform: translate(-50%, 50%); }

.orbit-2 .skill:nth-child(1) { left: 0%; top: 50%; transform: translate(-50%, -50%); }
.orbit-2 .skill:nth-child(2) { right: 0%; top: 50%; transform: translate(50%, -50%); }

/* Animaciones */
@keyframes rotate1 {
  from { transform: translate(-50%, -50%) rotate(0deg); }
  to { transform: translate(-50%, -50%) rotate(360deg); }
}

@keyframes rotate2 {
  from { transform: translate(-50%, -50%) rotate(0deg); }
  to { transform: translate(-50%, -50%) rotate(360deg); }
}
</style>

<div class="container">
  <img class="center-photo" src="/images/patick.jpg" />

  <!-- Órbita 1 -->
  <div class="orbit-wrapper orbit-1">
    <div class="orbit-path orbit-1-path"></div>
    {orbits[0].map((skill) => (
      <div class="skill"><img src={skill.src} alt={skill.alt} /></div>
    ))}
  </div>

  <!-- Órbita 2 -->
  <div class="orbit-wrapper orbit-2">
    <div class="orbit-path orbit-2-path"></div>
    {orbits[1].map((skill) => (
      <div class="skill"><img src={skill.src} alt={skill.alt} /></div>
    ))}
  </div>
</div>
