---
// PCHoloCard.astro
import '../styles/PCHoloCard.css';
---

<div class="pc-card-wrapper">
  <div class="pc-card">
    <div class="pc-shine"></div>
    <div class="pc-inside"></div>
    <div class="pc-avatar-content">
      <img class="avatar" src="/img/patick.jpg" alt="Avatar" />
    </div>
    <div class="pc-glare"></div>
    <div class="pc-content">
      <div class="pc-details">
        <h3>Jair Amaro</h3>
        <p>Data Analyst | ML Enthusiast</p>
      </div>
    </div>
    <div class="pc-user-info">
      <div class="pc-user-details">
        <div class="pc-mini-avatar">
          <img src="/img/patick.jpg" alt="Mini Avatar" />
        </div>
        <div class="pc-user-text">
          <div class="pc-handle">@jairamaro</div>
          <div class="pc-status">Disponible para colaborar</div>
        </div>
      </div>
      <div class="pc-contact-btn">Contáctame</div>
    </div>
  </div>
</div>
