---
import "../styles/global.css"; // Asegúrate de que aquí esté importado Beams.css también
import BeamBackground from "../components/BeamBackground/BeamBackground.jsx";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Portafolio de Oscar Amaro" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>{title}</title>
    
    <!-- Ícono -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <!-- Iconos -->
    <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>
  </head>

  <body class="relative min-h-screen bg-black text-white font-sans">
    <!-- Fondo animado global -->
    <BeamBackground client:only="react" />

    <!-- Contenido principal -->
    <slot />
  </body>
</html>
